*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: unset;
}

.external{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    height: 60%;
    width: 60%;
    border: 1px solid black;
}

.prev{
    width: 10%;
    height: 100%;
    float: left;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slides{
    width: 80%;
    height: 100%;
    float: left;
    border: 1px solid black;
}

.slides img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: none;
}

.slides img.active{
    display: block;
}

.slider-bottom{
    padding: 10px 0;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.next{
    width: 10%;
    height: 100%;
    float: left;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
